<div class="order">
    <div class="required bar">
        <div class="required bar">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">giỏ hàng</a></li>
                    <li class="breadcrumb-item active" aria-current="page">giao hàng & thanh toán</li>
                    <li class="breadcrumb-item active" aria-current="page">xác nhận</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="layout-page">
    <div class="cart-page">
        <h4>GIỎ HÀNG CỦA BẠN</h4>
        <p class="product-number-title">Hiện đang có <span id="product-number">1</span> sản phẩm</p>
    </div>
    <div class="cart-form-page">
        <div>
            <div class="header-cart">
                <h6>Số lượng</h6>
                <h6>Số tiền</h6>
            </div>
            <div class="container-content-cart">
                <div class="content-cart">
                    <div class="img-item">
                        <img src="img/aolen6.jpg">
                    </div>
                    <div class="name-item">
                        <p>Áo len đan bền sợi pha màu</p>
                        <p><span>Cỡ</span>:<span>XL</span></p>
                        <button class="btn-remove">Remove</button>
                    </div>
                    <div class="amount-item ">
                        <input type="number" name="" value="1" min="1">
                    </div>
                    <div class="price-item">
                        <p><span>500.000</span>đ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-cart">
            <h6>Tổng tiền</h6>
            <span id="total-price">500.000</span><label>đ</label>
        </div>
        <div class="cart-button">
            <a href="/product/Pay">
                <button>Thanh toán ngay</button>
            </a>
        </div>
    </div>
</div>


