<div class="confirm">
    <i class="fas fa-check-circle"></i>
    <h3>Gửi đơn hàng thành công!</h3>
    <p class="thank-you">Cảm ơn các bạn đã đặt hàng tại Moores</p>
    <p>Chúng tôi sẽ liên hệ bạn trong vòng 24h.Nếu bạn có bất cứ thắc mắc hay câu hỏi vui lòng gọi điện để được tư vẫn nhanh nhất:<span>0374.459.780</span></p>
    <a href="/Home/Index"><button>Trở lại trang chủ</button></a>
</div>