<div class="small-part">
    <div class="size-table">
        <h4>Bảng mã size</h4>
            <img src="/Content/img/bangmasize01.png" alt="">
            <img src="/Content/img/bangmasize02.png" alt="">
            <img src="/Content/img/bangmasize03.png" alt="">
    </div>
</div>