<div class="main">
    <div class="banner-somi">
        <img src="img/sale.jpg" alt="somi">
    </div>
    <div class="intro-somi">
        <h5>Khuyến mãi</h5>
        <p>Áo sơ mi nam thanh lịch với các tông màu trơn,caro,họa tiết là những trang phục không thể thiếu của chàng trai thành thị hiện đại,nam tính.Áo sơ mi nam thanh lịch với các tông màu trơn,caro,họa tiết là những trang phục không thể thiếu của chàng trai thành thị hiện đại,nam tính</p>
    </div>
    <hr>
    <div class="pro-category">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="combobox col-lg-2 mb-4 mb-lg-0 d-block ps-lg-0">
                    <p>BỘ LỌC</p>
                    <div class="cate-list product-list-category">
                        <p><span>SẢN PHẨM</span><a onclick="slidelist(this)" id="1"><i class="fas fa-plus"></i></a></p>
                        <ul class="item-list-1">
                            <li>
                                <div class="shirt-cate">
                                    <p><a href="">Sơ mi</a><a onclick="slidelistchild(this)" id="ch-pro-1"><i class="fas fa-plus"></i></a></p>
                                    <ul class="ca-ch-pro-1">
                                        <li><a href=""><span>Áo sơ mi</span></a></li>
                                        <li><a href=""><span>Áo camp shirt</span></a></li>
                                        <li><a href=""><span>Áo sơ mi casual</span></a></li>
                                        <li><a href=""><span>Áo sơ mi flannel</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="shirt-cate">
                                    <p><a href="">Sơ mi</a><a onclick="slidelistchild(this)" id="ch-pro-2"><i class="fas fa-plus"></i></a></p>
                                    <ul class="ca-ch-pro-2">
                                        <li><a href=""><span>Áo sơ mi</span></a></li>
                                        <li><a href=""><span>Áo camp shirt</span></a></li>
                                        <li><a href=""><span>Áo sơ mi casual</span></a></li>
                                        <li><a href=""><span>Áo sơ mi flannel</span></a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="shirt-cate">
                                    <p><a href="">Sơ mi</a><a onclick="slidelistchild(this)" id="ch-pro-3"><i class="fas fa-plus"></i></a></p>
                                    <ul class="ca-ch-pro-3">
                                        <li><a href=""><span>Áo sơ mi</span></a></li>
                                        <li><a href=""><span>Áo camp shirt</span></a></li>
                                        <li><a href=""><span>Áo sơ mi casual</span></a></li>
                                        <li><a href=""><span>Áo sơ mi flannel</span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cate-list price-list-category">
                        <p><span>LỌC THEO GIÁ</span><a onclick="slidelist(this)" id="2"><i class="fas fa-plus"></i></a></p>
                        <ul class="item-list-2">
                            <li><a href=""><span>350.000đ-500.000đ</span></a></li>
                            <li><a href=""><span>550.000đ-1.000.000đ</span></a></li>
                            <li><a href=""><span>1.000.000đ-2.000.000đ</span></a></li>
                            <li><a href=""><span>2.000.000đ-3.000.000đ</span></a></li>
                        </ul>
                    </div>
                    <div class="cate-list color-list-category">
                        <p><span>MÀU SẮC</span><a onclick="slidelist(this)" id="3"><i class="fas fa-plus"></i></a></p>
                        <ul class="item-list-3">
                            <li><a href=""><span>Black</span></a></li>
                            <li><a href=""><span>Blue</span></a></li>
                            <li><a href=""><span>Grey</span></a></li>
                            <li><a href=""><span>Green</span></a></li>
                            <li><a href=""><span>Red</span></a></li>
                            <li><a href=""><span>White</span></a></li>
                        </ul>
                    </div>
                    <div class="cate-list size-list-category">
                        <p><span>KÍCH CỠ</span><a onclick="slidelist(this)" id="4"><i class="fas fa-plus"></i></a></p>
                        <ul class="item-list-4">
                            <li><a href=""><span>S</span></a></li>
                            <li><a href=""><span>M</span></a></li>
                            <li><a href=""><span>L</span></a></li>
                            <li><a href=""><span>XL</span></a></li>
                            <li><a href=""><span>XS</span></a></li>
                            <li><a href=""><span>XLL</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="pro-list col-lg-10 col-12 pe-lg-0">
                    <div class="container-fluid pe-lg-1">
                        <div class="row">
                            <div class="pro1 col-lg-4 col-sm-6 px-2 pb-2" id="pro-1">
                                <a href="sanpham-ct.html">
                                    <div class="box-img">
                                        <img class="img img-src" src="img/aolen1.jpg">
                                    </div>
                                    <p class="product-name">Áo sơ mi nam Aristino ASS094S7</p>
                                    <div class="change-price d-flex justify-content-center">
                                        <p class="p-promotion-value"><span id="price" class="promotion-value">300000</span>đ</p>
                                        <p class="p-root-value ps-3"><strike><span class="root-value">750000</span>đ</strike></p>
                                    </div>
                                </a>
                                <button class="btn-quickview" data-btn="1">Xem nhanh</button>
                            </div>
                            <div class="pro1 col-lg-4 col-sm-6 px-2 pb-2" id="pro-2">
                                <a href="sanpham-ct.html">
                                    <div class="box-img">
                                        <img class="img img-src" src="img/aolen3.jpg">
                                    </div>
                                    <p class="product-name">ÁO LEN ĐAN SỢI PHA MÀU3</p>
                                    <div class="change-price d-flex justify-content-center">
                                        <p class="p-promotion-value"><span id="price" class="promotion-value">250.000</span>đ</p>
                                        <p class="p-root-value ps-3"><strike><span class="root-value">350.000</span>đ</strike></p>
                                    </div>
                                </a>
                                <button class="btn-quickview" data-btn="2">Xem nhanh</button>
                            </div>
                            <div class="pro1 col-lg-4 col-sm-6 px-2 pb-2" id="pro-3">
                                <a href="sanpham-ct.html">
                                    <div class="box-img">
                                        <img class="img" src="img/aolen3.jpg">
                                    </div>
                                    <p class="product-name">ÁO LEN ĐAN SỢI PHA MÀU3</p>
                                    <p><span id="price">250.000</span>đ</p>
                                </a>
                                <a>
                                    <button class="btn-quickview">Xem nhanh</button>
                                </a>
                            </div>
                            <div class="pro1 col-lg-4 col-sm-6 px-1 pb-2" id="pro-4">
                                <a href="sanpham-ct.html">
                                    <div class="box-img">
                                        <img class="img" src="img/aolen4.jpg">
                                    </div>
                                    <p class="product-name">ÁO LEN ĐAN SỢI PHA MÀU4</p>
                                    <p><span id="price">100.000</span>đ</p>
                                </a>
                                <a>
                                    <button class="btn-quickview">Xem nhanh</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-View-More">
        <button>Xem thêm 10 sản phẩm khác</button>
    </div>
    <hr>
    <div class="txtsomi">
        <h6>Áo sơ mi nam-item không thể thiếu của chàng trai lịch lãm</h6>
        <p>
            Áo sơ mi nam đẹp mix cho chàng trai sành điệu. Những buổi sáng bận rộn đôi khi sẽ khiến bạn phải "điên đầu" với hàng trăm công việc không tên khác nhau. Và nếu bạn chỉ còn 5 - 10 phút để chuẩn bị ra đường thì những gợi ý thú vị này chắc chắn
            sẽ giúp ích cho bạn rất nhiều
        </p>
        <h6>Phối sơ mi nam để vẻ ngoài thêm hoàn hảo</h6>
        <p>
            Kết hợp được chiếc sơ-mi với những phụ kiện fashion tương thích thì bạn cần lưu ý vi điều. Với những chiếc sơ-mi nam trơn, bạn có thể diện khi làm việc, đi học, phối cùng quần kaki để tăng thêm vẻ chỉn chu, tinh tế cho mình. Song song đó,
            sơ mi nam caro vừa có khả năng diện khi đi đến văn phòng, vừa có khả năng diện cùng quần jeans nam mỗi khi đi chơi với bạn bè hay bạn trai. Ngoài ra, sơ-mi nam fashion sẽ đẹp hơn khi bạn chọn mix cùng cardigan nam
        </p>
        <h6>Bộ sưu tập áo sơ mi đẹp</h6>
        <p>
            Các sản phẩm áo sơ mi Moores vừa sang trọng, lịch lãm vừa mang phong cách trẻ trung và năng động nhờ vào sự phong phú về chất liệu, kiểu dáng, cũng như sự đa dạng trong kết hợp màu sắc và hoa văn một cách tinh tế. Mỗi chiếc áo sơ mi Owen hoàn
            hảo trong từng đường kim mũi chỉ, từng nét thiết kế nhỏ nhất góp phần tạo nên thương hiệu thời trang cao cấp dành cho phái mạnh
        </p>
    </div>
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>
        <div class="container quickview-ban pt-lg-4 px-0">
            <button class="how-pos3 hov3 trans-04 js-hide-modal1 text">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <div class="row how-pos3-parent pt-5 mx-2">
                <div class="col-lg-6 col-12">
                    <div class="container-fluid">
                        <div class="row d-flex">
                            <div class="col-2 ps-0 slider-nav">
                                <div class="img-aolen-child">
                                    <img class="zoom-gallery item-image" onclick="ChangePicture(this)" src="img/aolen6.jpg" alt="">
                                </div>
                                <div class="img-aolen-child">
                                    <img class="zoom-gallery item-image" onclick="ChangePicture(this)" src="img/aolen2.jpg" alt="">
                                </div>
                                <div class="img-aolen-child">
                                    <img class="zoom-gallery item-image" onclick="ChangePicture(this)" src="img/aolen3.jpg" alt="">
                                </div>
                                <div class="img-aolen-child">
                                    <img class="zoom-gallery item-image" onclick="ChangePicture(this)" src="img/aolen4.jpg" alt="">
                                </div>
                                <div class="img-aolen-child">
                                    <img class="zoom-gallery item-image" onclick="ChangePicture(this)" src="img/aolen5.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-10 slider-for">
                                <div class="img-aolen-parent">
                                    <img src="img/aolen6.jpg" class="img-src  main-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 quickview-content">
                    <h5 class="product-name">Áo sơ mi nam Aristino <span>ASS094S7</span></h5>
                    <h6><span id="price">500000</span>đ</h6>
                    <p><b>Trạng thái</b>:còn hàng</p>
                    <p>Áo sơ mi nam thương hiệu JeansWest trẻ trung,năng động dành cho các bạn nam.</p>
                    <p>Chất liệu:100% cotton</p>
                    <p>Thiết kế dài tay</p>
                    <p>Có một túi bên trái</p>
                    <p>Thiết kế 7 nút trước</p>
                    <p>Họa tiết nhỏ</p>
                    <h6>Chọn size</h6>
                    <div class="product-size">
                        <div class="size-items-name box-1">
                            <label for="size-1" onclick="size(this)">XS</label>
                            <input type="radio" name="sizename" value="XS" id="size-1">
                        </div>
                        <div class="size-items-name box-2">
                            <label for="size-2" onclick="size(this)">S</label>
                            <input type="radio" name="sizename" value="S" id="size-2">
                        </div>
                        <div class="size-items-name box-3">
                            <label for="size-3" onclick="size(this)">M</label>
                            <input type="radio" name="sizename" value="M" id="size-3">
                        </div>
                        <div class="size-items-name box-4">
                            <label for="size-4" onclick="size(this)">L</label>
                            <input type="radio" name="sizename" value="L" id="size-4">
                        </div>
                        <div class="size-items-name box-5">
                            <label for="size-5" onclick="size(this)">XL</label>
                            <input type="radio" name="sizename" value="XL" id="size-5">
                        </div>
                        <div class="size-items-name box-6">
                            <label for="size-6" onclick="size(this)">XLL</label>
                            <input type="radio" name="sizename" value="XLL" id="size-6">
                        </div>
                    </div>
                    <div class="product-number">
                        <h6>Số lượng</h6>
                        <button class="btnReduction">-</button>
                        <input type="number" name="quantity" value="1" min="1" max="10" onkeyup="">
                        <button class="btnAdd-amount">+</button>
                        <button class="product-btnbuy" productId="1" type="submit">Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
